@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="container">
        <div class="row mb-3">
            @Html.Label("Kategori Adı", new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color: red;" })
        </div>
        <div class="row mb-3">
            @Html.Label("Açıklama", new { @class = "form-label" })
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "7" })
            @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color: red;" })
        </div>
        <div class="row mb-3">
            <input type="submit" class="btn btn-info btn-block" value="Kategori Ekle" />
        </div>
    </div>
}

@*<div class="container">
        <form method="post">
            <div class="row mb-3">
                <input type="text" name="Name" class="form-control" placeholder="Adı" />
            </div>
            <div class="row mb-3">
                <input type="text" name="Name" class="form-control" placeholder="Açıklama" />
            </div>
            <div class="row mb-3">
                <input type="submit" class="btn btn-info" value="Kategori Ekle" />
            </div>
        </form>
    </div>*@